<section id="static-comments">
{% if site.repository and site.comments.staticman.branch %}
  {% if site.data.comments[page.slug] %}
    <!-- Existing comments -->
    <div class="comments-title">
    <h2>댓글</h2>
    {% assign comments = site.data.comments[page.slug] | sort | where_exp: "comment", "comment[1].replying_to == ''" %}
        {% for comment in comments %}
          {% assign index       = forloop.index %}
          {% assign replying_to = comment[1].replying_to | to_integer %}
          {% assign name        = comment[1].name %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment[1].message %}
          {% include comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
        {% endfor %}
    </div>    
  {% endif %}

  <!-- Start new comment form -->
  <div class="page__comments-form" id="respond">
    <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h4>
    <p class="small">{{ site.data.ui-text[site.locale].comment_form_info | default: "Your email address will not be published. Required fields are marked" }} {{ site.reCaptcha-siteKey }}<span class="required">*</span></p>
    <form id="new_comment" class="page__comments-form js-form form" method="post" action="{{ site.comments.staticman.endpoint }}{{ site.repository }}/{{ site.comments.staticman.branch }}/comments">
      <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
      <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
      <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
      <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
      <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">

      <div class="form__spinner">
        <i class="material-icons md-18">&#xEA5C;</i>
        <span class="sr-only">{{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}</span>
      </div>

      <div class="form-group">
        <label for="comment-form-name">{{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }} <small class="required">*</small></label>
        <input type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
      </div>

      <div class="form-group">
        <label for="comment-form-message">{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }} <small class="required">*</small><small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">(cancel reply)</a></small></label>
        <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
        <div class="small help-block"><a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a></div>
      </div>

      <div class="form-group hidden" style="display: none;">
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">
        <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
        <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off"/>
        {% if site.reCaptcha.siteKey %}<input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">{% endif %}
        {% if site.reCaptcha.secret %}<input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">{% endif %}
      </div>

      <!-- Start comment form alert messaging -->
      <p class="hidden js-notice">
        <strong class="js-notice-text"></strong>
      </p>
      <!-- End comment form alert messaging -->
        {% if site.reCaptcha.siteKey %}
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
      </div>
      {% endif %}
      <div class="form-group">
        <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--primary btn--large">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
      </div>
    </form>
  </div>
  <!-- End new comment form -->
  
  {% if site.reCaptcha.siteKey %}<script async src="https://www.google.com/recaptcha/api.js"></script>{% endif %}
{% endif %}
</section>